fa-icon {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: goldenrod;
  display: block;
  font-size: 40px;
}
.others {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 140px;
}
