<ion-app>
  <ion-menu contentId="content1" side="start">
    <ion-toolbar>
      <img src="../assets/icon/favicon.png" />
    </ion-toolbar>
    <ion-content>
      <ion-list lines="none">
        <ion-icon name="end"></ion-icon>

        <ion-item class="ion-item" button (click)="newrequest()">
          <ion-icon style="color: goldenrod" slot="start" name="add"></ion-icon>
          <ion-label class="lable">اضافة طلب</ion-label>
        </ion-item>

        <ion-item class="ion-item" button (click)="myrequests()">
          <ion-icon
            style="color: goldenrod"
            slot="start"
            name="list"
          ></ion-icon>
          <ion-label class="lable">طلباتي</ion-label>
        </ion-item>

        <ion-item class="ion-item" button (click)="notifications()">
          <ion-icon
            style="color: goldenrod"
            slot="start"
            name="notifications"
          ></ion-icon>
          <ion-label class="lable">الأشعارات</ion-label>
        </ion-item>

        <ion-item class="ion-item" button (click)="chat()">
          <ion-icon
            style="color: goldenrod"
            slot="start"
            name="chatbubbles"
          ></ion-icon>
          <ion-label class="lable">الدردشة</ion-label>
        </ion-item>

        <ion-item class="ion-item" button (click)="gotocontactus()">
          <ion-icon
            style="color: goldenrod"
            slot="start"
            name="call"
          ></ion-icon>
          <ion-label class="lable">اتصل بنا</ion-label>
        </ion-item>

        <ion-item class="ion-item" button (click)="vision()">
          <ion-icon style="color: goldenrod" slot="start" name="eye"></ion-icon>
          <ion-label class="lable">رؤية الشركة</ion-label>
        </ion-item>

        <ion-item class="ion-item" button (click)="logout()">
          <ion-icon
            style="color: goldenrod"
            slot="start"
            name="log-out"
          ></ion-icon>
          <ion-label class="lable">تسجيل الخروج</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content1"></ion-router-outlet>
</ion-app>
