<ion-content>
  <img src="../../assets/icon/favicon.png" />

  <form>
    <ion-grid style="margin-top: 45%">
      <ion-row>
        <ion-item style="width: 100%">
          <ion-label
            style="font-family: system-ui; font-weight: bold"
            position="floating"
            >برجاء كتابة البريد الإلكتروني</ion-label
          >
          <ion-input type="email"></ion-input>
        </ion-item>
      </ion-row>

      <section style="margin-top: 36px">
        <ion-button
          (click)="Send()"
          style="margin-top: -2% !important"
          shape="round"
          expand="block"
          color="danger"
          slot="start"
        >
          ارسل البريد الإليكتروني لتغير كلمة السر
        </ion-button>
      </section>
    </ion-grid>
  </form>
</ion-content>
