<ion-header>
  <ion-toolbar color="danger">
    <ion-title>استكمال البيانات</ion-title>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-grid class="grid-class">
      <ion-row>
        <ion-item style="width: 100%" class="animate__animated animate__fadeInDown">
          <ion-label class="lbll" position="floating">كتابة الإيميل مرة أخري</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
        <ion-item style="width: 100%" class="animate__animated animate__fadeInDown">
          <ion-label class="lbll" position="floating">كتابة الكود المرسل</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item style="width: 100%" class="animate__animated animate__fadeInDown">
          <ion-label class="lbll" position="floating">كتابة كلمة السر الجديدة</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <ion-item style="width: 100%" class="animate__animated animate__fadeInDown">
          <ion-label class="lbll" position="floating">تأكيد كلمة السر الجديدة</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
      </ion-row>
      <br />
      <br />
      <section class="animate__animated animate__fadeInDown">
        <ion-button (click)="sendData()" style="margin-top: -2% !important" shape="round" expand="block" color="danger"
          slot="start">
          ارسال البيانات
        </ion-button>
      </section>
      <!-- <section>
        <ion-button style="font-weight: bolder;" fill="clear" color="dark" routerLink="/register" expand="block">
          Forgot password ? </ion-button>
      </section> -->
    </ion-grid>
  </form>
</ion-content>