.card-style {
  width: 120px;
  height: 120px;
}

img {
  margin-top: -18px;
}

h5 {
  margin-right: 6px;
  font-weight: bold;
  color: red;
}

fa-icon {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: goldenrod;
  display: block;
  font-size: 40px;
}

.grid {
  margin-top: 33%;
  margin-right: -14px;
  margin-left: 2px;
}
